.container_proyect {
  width: 100%;
  background-color: #e4c1f9;
  padding: 2rem 0rem;

  > .content_proyect {
    width: 100%;

    > .proyect_title {
        width: 100%;
        color: rgba(179, 157, 219);
        text-align: center;
        font-size: clamp(1.5rem, 4vw, 3rem);
        font-weight: 500;
        letter-spacing: 0.2px;
        text-decoration: underline;
        margin-bottom: 1rem;
      }
  
  }
}
